version: "3.9"

services:


  postgres:
    image: postgres:15-alpine
    container_name: protocare_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: protocare_backend
    restart: unless-stopped
    env_file: .env
    ports:
      - "8002:8000"
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3


  # ollama:
  #   image: ollama/ollama:latest
  #   container_name: protocare_ollama
  #   restart: unless-stopped
  #   volumes:
  #     - ollama_data:/root/.ollama
  #   ports:
  #     - "11434:11434"

  # frontend:
  #   build:
  #     context: ./frontend
  #     dockerfile: Dockerfile
  #   container_name: protocare_frontend
  #   restart: unless-stopped
  #   env_file: .env
  #   environment:
  #     BACKEND_URL: http://backend:8000
  #   ports:
  #     - "8501:8501"
  #   depends_on:
  #     - backend


  # mlflow:
  #   image: ghcr.io/mlflow/mlflow:v2.11.0
  #   container_name: protocare_mlflow
  #   restart: unless-stopped
  #   command: >
  #     mlflow server
  #     --host 0.0.0.0
  #     --port 5000
  #     --backend-store-uri sqlite:///mlflow.db
  #     --default-artifact-root /mlflow/artifacts
  #   volumes:
  #     - mlflow_data:/mlflow
  #   ports:
  #     - "5000:5000"


  # prometheus:
  #   image: prom/prometheus:latest
  #   container_name: protocare_prometheus
  #   restart: unless-stopped
  #   volumes:
  #     - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
  #   ports:
  #     - "9090:9090"

  # grafana:
  #   image: grafana/grafana:latest
  #   container_name: protocare_grafana
  #   restart: unless-stopped
  #   environment:
  #     GF_SECURITY_ADMIN_PASSWORD: admin
  #     GF_USERS_ALLOW_SIGN_UP: "false"
  #   volumes:
  #     - grafana_data:/var/lib/grafana
  #   ports:
  #     - "3000:3000"
  #   depends_on:
  #     - prometheus

volumes:
  postgres_data:
  # chroma_data:      # décommenter à l'étape RAG
  # ollama_data:      # décommenter à l'étape RAG
  # mlflow_data:      # décommenter à l'étape LLMOps
  # grafana_data:     # décommenter à l'étape Monitoring